:host {
    display: block;
}

/* Custom scrollbar styling for a premium look */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--p-surface-200);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--p-surface-300);
}

.dark ::-webkit-scrollbar-thumb {
    background: var(--p-surface-800);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--p-surface-700);
}
