# Dependencies
node_modules/

# Build outputs
dist/

# Environment secrets
.env
.env.local
.env.*.local
.env.production
.env.development

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dev Logging
tmp/
# TypeScript cache
*.tsbuildinfo

# Package manager locks (keep package-lock.json, ignore others)
yarn.lock
pnpm-lock.yaml
*.qif

# Local artifacts
npm
nx
*.tgz
qif-results

# Test and Lint artifacts
coverage/
resources/
storybook-static/
test-results/
ux-screenshots/
*-trace.*
*.trace
.env*.local

.angular

__screenshots__/

.firebase/
