name: Publish @path-logic/core

on:
    push:
        tags:
            - 'v*'

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm ci

            - name: Build Core
              run: npm run build -w @path-logic/core

            - name: Publish to NPM
              run: npm publish -w @path-logic/core
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
